################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ZxSpectrum
/.vs/ProjectEvaluation
/ZxSpectrum/bin/Debug/net8.0
/ZxSpectrum/obj
/ZxSpectrum/.vs
